<div>Years:</div>
<% @years.each do |year| %>
  <div>
    <%= link_to year, draft_path(year) %>
    <div>Total: <%= @active_data[year][:total] %></div>
    <div>Active: <%= @active_data[year][:active] %></div>
    <% @active_data[year][:rounds].each do |round| %>
      <div>Round: <%= round[0] %> </div>
      <div>Total: <%= round[1][:total] %></div>
      <div>Active: <%= round[1][:active] %></div>
    <% end %>
  </div>
<% end %>
